Django==5.1.8
wagtail==6.4.1
django-allauth==65.1.0

# django-oauth-toolkit==2.4.0 gives error needs fixing map downloader side? (PKCE_REQUIRED = False)
django-oauth-toolkit==1.7.1
django-cors-headers==4.4.0

djangorestframework==3.15.2

gspread==6.1.4
python-dotenv==1.0.1
django-turnstile==0.1.2
django-import-export==4.3.4
wagtailmenus==4.0.1

whitenoise==6.8.2
django-storages[s3]==1.14.4
boto3==1.35.63

django-dbbackup==4.2.1

django-debug-toolbar==4.4.6