Django==4.0.6
wagtail==3.0.1
django-allauth==0.51.0
wagtail-django-recaptcha==1.0

django-debug-toolbar>=3.5.0

django-oauth-toolkit==2.1.0
django-cors-headers==3.11.0

djangorestframework==3.13.1

gspread==5.4.0
python-dotenv==0.20.0