/* Content tag styling */
body {
    background-color: rgb(96, 120, 146);
    background-image: linear-gradient(rgb(96, 120, 146),rgb(33, 68, 105));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
p{
    font-size: 18px;
}
a{
    color: rgba(185, 213, 236, 0.925);
    cursor: pointer;
}
a:hover{
    color: rgb(95, 108, 122);
}
h3{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0.3rem;
    text-align: center;
}
.padding{
    margin-top: 4rem;
}
/* JoGESA */
.box{
    padding: 0 15px 0 15px;
}
#earth{
    animation: earth 4s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes earth {
    from {
      -webkit-transform: rotateZ(-10deg) translateY(0px);
              transform: rotateZ(-10deg) translateY(0px);
    }
    to {
      -webkit-transform: rotateZ(10deg) translateY(0px);
              transform: rotateZ(10deg) translateY(0px);
    }
}
/* Login, reset and register form */
.login{
    margin-top: 3rem;
}
.login input{
    width: 20rem;
}
.login label{
    display: block;
}
.password_reset{
    margin-top: 3rem;
}
.password_reset p{
    margin-top: 2rem;
}
.password_reset label{
    display: block;
}
.signup{
    margin-top: 3rem;
}
.signup label{
    display: block;
}
.signup input{
    width: 20rem;
}
/* Contact-Form */
.contact-form {
    list-style-type: none;
    padding-left: 0;
}
.contact-form li {
    margin-bottom: 1.5rem;
}
.contact-form label {
    display: block;
    font-weight: bold;
}
.contact-form .helptext {
    display: block;
    font-size: 80%;
}
.list-group-item{
    background-color: inherit;
    font-size: 20px;
}
/* Main-page */
.carousel-caption {
    position: static;
    text-align: left;
}
.youtube-map-tut a{
    color: white;
}
/* Footer */
.footer_look {
    background: #375A7F;
    padding: 30px;
    margin-top: auto;
}
.segment-two h3{
    color: cornsilk;
    font-size: 22px;
    text-transform: uppercase;   
    margin: 10px 0;
    white-space: nowrap;
}
.segment-two h3:before{
    content: '|';
    color: rgb(16, 71, 129);
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 2px solid rgb(16, 71, 129);
    line-height: 25px;
    padding-bottom: 3px;
}
.segment-two ul li a{
    color: white;
}
.segment-three h3{
    color: cornsilk;
    font-size: 22px;
    text-transform: uppercase;   
    margin: 10px 0;
}
.segment-three h3:before{
    content: '|';
    color: rgb(16, 71, 129);
    padding-right: 10px;
}
.segment-three a{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 30%;
}
.segment-four h5{
    margin-top: 30px;
}