/* Content tag styling */
body {
    background-color: #697f97;
    background-image: linear-gradient(#697f97,#54759b);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
p{
    font-size: 1.2em;
}
li{
    font-size: 1.03em;
}
a{
    color: #D5E7F2;
    cursor: pointer;
}
a:hover{
    color: rgb(119, 150, 184);
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: #f8f8f89a;
}
::-webkit-scrollbar-thumb {
    background: #1f6986;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3c73aa;
}
i:hover{
    color: #467bb4;
    transition-duration: 0.2s;
}
h3{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0.3rem;
}
.padding{
    margin-top: 2.2rem;
}
/* JoGESA */
/* Bootsrap Mods */
.btn-primary{
    background-color: #526880;
}
/* Login, reset and register form */
.login{
    margin-top: 3rem;
}
.login input{
    width: 20rem;
}
.login label{
    display: block;
}
.password_reset{
    margin-top: 3rem;
}
.password_reset p{
    margin-top: 2rem;
}
.password_reset label{
    display: block;
}
.signup{
    margin-top: 3rem;
}
.signup label{
    display: block;
}
.signup input{
    width: 20rem;
}
/* Contact-Form */
.contact-form {
    list-style-type: none;
    padding-left: 0;
}
.contact-form li {
    margin-bottom: 1.5rem;
}
.contact-form label {
    display: block;
    font-weight: bold;
}
.contact-form .helptext {
    display: block;
    font-size: 80%;
}
.list-group-item{
    background-color: inherit;
    font-size: 20px;
}
/* Main-page */
.carousel-caption {
    position: static;
    text-align: left;
}
.youtube-map-tut a{
    color: white;
}
/* Footer */
.footer_look {
    background: #375A7F;
    padding: 30px;
    margin-top: auto;
}
.segment-two h3{
    color: cornsilk;
    font-size: 22px;
    text-transform: uppercase;   
    margin: 10px 0;
    white-space: nowrap;
}
.segment-two h3:before{
    content: '|';
    color: rgb(16, 71, 129);
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 2px solid rgb(16, 71, 129);
    line-height: 25px;
    padding-bottom: 3px;
}
.segment-two ul li a{
    color: white;
}
.segment-three h3{
    color: cornsilk;
    font-size: 22px;
    text-transform: uppercase;   
    margin: 10px 0;
}
.segment-three h3:before{
    content: '|';
    color: rgb(16, 71, 129);
    padding-right: 10px;
}
.segment-three a{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 30%;
}
.segment-four h5{
    margin-top: 30px;
}