{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <h1>{% trans "Sign Up" %}</h1>
                    </div>
                    <div class="col-6">
                        <img src="https://sagta.org.za/media/images/logo.original.png" class="img-fluid mb-4" style="max-width: 250px; height: auto;" alt="logo">
                    </div>
                </div>
                

                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"><strong>sign in</strong></a>.{% endblocktrans %}</p>

                <!-- TODO: phase the bottom out as SAGTA integrates payment -->
                <div style="line-height: 0.35em;">
                    <p><strong>Please Note:</strong></p>
                    <p>Only if you have applied to be a member may you register.</p>
                    <p>Navigate to the <a href="/membership/">members</a> page to apply to be a member.</p>
                </div>

                <form class="signup mb-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
                </form>
                <small style="font-size: 0.9em;" class="font-weight-bold">Members are not allowed to share their login details. An individual membership allows only one
                    person access to the website. An academic institutional membership allows only the staff members registered with SAGTA access to the website.
                    Please note that membership will be deactivated if details are shared with unauthorised individuals.</small>
            </div>
        </div>        
    </div>
    <style>
        input{
            width: 100% !important; 
            padding: 5px 8px;
            margin: 4px 0;
            box-sizing: border-box;           
        }
    </style>

{% endblock %}