{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        <h1>{% trans "Verify Your E-mail Address" %}</h1>

        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided in the email to finalize the signup process. Please <a href="/contact-us">contact us</a> if you do not receive it within a few minutes.{% endblocktrans %}</p>    
    </div>
{% endblock %}