{% load wagtailimages_tags %}

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for item in self.images %}
            <!-- Can use format-webp-lossless -->
            {% image item.image max-1000x800 format-webp as img %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <img class="img-fluid d-block w-100 rounded" src="{{ img.url }}" alt="{{ img.alt }}">
            </div>
        {% endfor %}
    </div>
</div>
