{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container text-center mt-5">
        <div class = "row">
            <div class = "col">
                <h4>{{ self.subtitle }}</h4>
            </div>
        </div>
    </div>

    <div class="container ml-5 mr-5 pr-5 pl-5">
        <div class="row">
            <div class="col">
                {% for block in page.content %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}