{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    {% image self.blog_image fill-1200x300 as banner %}
    <div class="container mt-5 text-center">
        <img class="img-fluid rounded" src="{{ banner.url }}" alt="{{ banner.alt }}">

        <h1 class="mt-5">{{ self.custom_title }}</h1>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% for block in self.content %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %} 
